bin/
obj/
.vs/

Publish/Artifacts/
External/wxWidgets/
Source/Build/.nuget
Source/Build/Alternet.UI.Pal/*.nupkg
Source/Build/Alternet.UI.Pal/NuGet/runtimes
Source/Build/Alternet.UI.Pal-old/*.nupkg
Source/Build/Alternet.UI.Pal-old/NuGet/runtimes
Source/Samples/HelloWorldSample/HelloWorldSample.csproj.user
