bin/
obj/
.vs/
packages/
*.csproj.user

Publish/Artifacts/
Publish/Packages/
External/WxWidgets/
External/WxWidgets.zip
Source/Build/Alternet.UI.Common/.nuget
Source/Build/Alternet.UI.Pal/NuGet/*.nupkg
Source/Build/Alternet.UI.Pal/NuGet/runtimes
Source/Build/Alternet.UI.Pal-old/*.nupkg
Source/Build/Alternet.UI.Pal-old/NuGet/runtimes
Source/Samples/HelloWorldSample/HelloWorldSample.csproj.user
Source/**/AlternetUI.ico
Documentation/Alternet.UI.Documentation/log.txt
.DS_Store
.vscode/
.vscode/launch.json
.vscode/tasks.json
.project
*.so
test.bat
Documentation/Alternet.UI.Documentation/BuildResult.txt
Source/Build/Alternet.UI.Pal/NuGet/License.txt
Source/Build/Alternet.UI.Pal/NuGet/icon.png
Source/Keys/Alternet.pfx
Source/Keys/RealStrongKey.snk
Source/Keys/Private.props
Source/Keys/Run.CertUtil.Output.txt
Install.Scripts/MSW.Publish.Results.txt
Install.Scripts/TestDotNetNew/*.cs
Install.Scripts/TestDotNetNew/*.csproj
Install.Scripts/TestDotNetNew/*.uixml
Install.Scripts/TestDotNetNew/Nuget.Help.txt
*.exe
Documentation/Alternet.UI.Documentation/BuildNew.Result.txt
Source/Samples/ControlsSample/ControlsSample.csproj.user
Source/Alternet.UI/Find.Not.Documented.log
Source/Alternet.UI/Build.Result.Log
Source/Samples/CommonData/FrameworksOverride.props
Source/Version/FrameworksOverride.props
Source/Alternet.UI.Pal/Alternet.UI.Pal.aps
Documentation/Alternet.UI.Documentation/Build.Result.txt
*.nupkg
*.snupkg
node_modules
External/Svg/
*.tmp
