article h1:first-child, article h2:first-child, article h3:first-child, article h4:first-child {
    margin-top: 0;
}

body {
    font-size: 16px;
    font-family: Segoe UI, SegoeUI, SF Pro Text, system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
}

.summary
{ 
    font-size: 16px;
}

.h1, h1 {
    font-size: 30px;
}

.h5, h5 {
    font-weight: 600;
    margin-top: 15px;
}

.h6, h6 {
    font-size: 16px;
}

.navbar-brand {
    padding-right: 3em;
}

article h1, article h2, article h3, article h4 {
    margin-top: 25px;
    font-weight: 600;
}

article h4 {
    border-bottom: none;
    padding-bottom: 5px;
}

.implements div:before {
    content: '→';
    margin-right: 5px;
}

.table {
    margin-bottom: 0;
}

.nowrap {
    white-space: nowrap;
}

.sidetoc.shiftup {
    bottom: 50px;
}

.sidetoc {
    background: none;
    border: none;
}

body .toc {
    background: none;
}

@media (min-width: 1000px) {
    .container {
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (min-width: 1600px) {
    .container {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}    