# top-most EditorConfig file
root = true

[*.cs]
generated_code = true
# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.CS8669.severity = none