# top-most EditorConfig file
root = true

[*.{cpp,h}]
spelling_checkable_types = comments


[*.cs]

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1011: Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1520: Use braces consistently
dotnet_diagnostic.SA1520.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1124: The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = none

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = none

# SA1643: Destructor summary documentation should begin with standard text
dotnet_diagnostic.SA1643.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1129: Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1612: Element parameter documentation should match element parameters
dotnet_diagnostic.SA1612.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = none

# SA1606: Element documentation should have summary text
dotnet_diagnostic.SA1606.severity = none

# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = none

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = none

#HighDPI API settings not available in net 4.6
dotnet_diagnostic.WFAC010.severity = none

dotnet_diagnostic.SA1000.severity = none

dotnet_diagnostic.CA1822.severity = none

dotnet_diagnostic.IDE0056.severity = none

dotnet_diagnostic.IDE0057.severity = none

dotnet_diagnostic.CA2249.severity = none

dotnet_diagnostic.IDE0066.severity = none

dotnet_diagnostic.IDE0060.severity = none

dotnet_diagnostic.CS8032.severity = none

dotnet_diagnostic.IDE0290.severity = none

dotnet_diagnostic.CA1510.severity = none

dotnet_diagnostic.CA1513.severity = none

dotnet_diagnostic.CA1859.severity = none

dotnet_diagnostic.SA1010.severity = none

dotnet_diagnostic.CA1070.severity = none

dotnet_diagnostic.CA1512.severity = none

dotnet_diagnostic.CA1866.severity = none

dotnet_diagnostic.CA2211.severity = none

dotnet_diagnostic.SA1401.severity = none

dotnet_diagnostic.SYSLIB1054.severity = none

dotnet_diagnostic.IDE0017.severity = none

dotnet_diagnostic.IDE0062.severity = none

dotnet_diagnostic.IDE0066.severity = none

dotnet_diagnostic.IDE0300.severity = none

dotnet_diagnostic.IDE0301.severity = none

dotnet_diagnostic.IDE0305.severity = none

dotnet_diagnostic.IDE0060.severity = none

dotnet_diagnostic.IDE0028.severity = none

dotnet_diagnostic.SA1307.severity = none

dotnet_diagnostic.SA1303.severity = none

dotnet_diagnostic.SA1311.severity = none

dotnet_diagnostic.CS8002.severity = none

dotnet_diagnostic.IDE0130.severity = none

dotnet_diagnostic.IDE0074.severity = none

dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.SA1300.severity = none

dotnet_diagnostic.SA1121.severity = none

# IDE0306: Simplify collection initialization
dotnet_diagnostic.IDE0306.severity = none

dotnet_diagnostic.IDE0070.severity = none

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = none
